/* style.qss */
QWidget {
    background-color: #2E3440;
    color: #D8DEE9;
}

QPushButton {
    background-color: #4C566A;
    border: 1px solid #434C5E;
    color: #D8DEE9;
    padding: 5px;
    border-radius: 5px;
}

QPushButton:hover {
    background-color: #5E81AC;
}

QLabel {
    color: #D8DEE9;
    font-size: 16px;
}

QLineEdit {
    background-color: #3B4252;
    border: 1px solid #4C566A;
    color: #D8DEE9;
    padding: 5px;
    border-radius: 5px;
}
